{% extends "base.html" %}

{% block content %}
<h1>Обсуждение - {{disc.title}}</h1>
{% if leng > 0 %}
    {% for item in posts%}
    <div class="col-md6 border rounded">
        <h4>{{item.content}}</h4>
        <div>
            Автор - <a href="/users/{{ item.user.id }}"> {{item.user.name}}</a>, Дата создания - {{item.created_date.strftime('%d.%m.%Y %H:%M')}}
        </div>

        <div>
            {% if current_user.is_authenticated and current_user == item.user %}
            <a href="/post_delete/{{ item.id }}" class="btn btn-danger">
                Удалить
            </a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% else %}
    <div>
        <h3>В этом обсуждении пока нет постов</h3>
    </div>
{% endif %}

{% if current_user.is_authenticated %}
<form action="" method="post">
    <p>
        <label for="content"> Введите сообщение </label>
        <input type="text" name="content" id="content">
    </p>
    <p>
	    <input type="submit">
	</p>
</form>
{% endif %}
{% endblock %}