{% extends "base.html" %}

{% block content %}
<h1>Комиксы!</h1>
<div class="col-12">
	<a class="btn btn-primary col-2" href="/discussions">Форум</a>
	{% if current_user.is_authenticated %}
	<a class="btn btn-primary col-2" style="margin-left: 20px;" href="/comics">Новый комикс</a>
	{% endif %}

</div><br>
<div class="container" style = "dispaly: none;">
	<div id="oc-portfolio" class="owl-carousel portfolio-carousel carousel-widget owl-loaded owl-drag" data-pagi="false" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="4">
		<div id = "maincarusel" class="owl-stage-outer" >
			<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1900px;">
				{% for item in comics%}
				<div class="owl-item active" style="width: 217.5px; margin-right: 20px;">
					<div class="portfolio-item">
						<div class="portfolio-image">
							<a href="portfolio-single.html">
								<img src="{{ url_for('static', filename=item.cover) }}" alt="Open Imagination">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark animated fadeOut" data-hover-animate="fadeIn" data-hover-speed="350" style="animation-duration: 350ms;">
									<a href="{{ url_for('static', filename=item.cover) }}" class="overlay-trigger-icon bg-light text-dark animated fadeInUpSmall" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeInUpSmall" data-hover-speed="350" data-lightbox="image" style="animation-duration: 350ms;"><i class="icon-line-plus"></i></a>
								</div>
								<div class="bg-overlay-bg dark animated fadeOut" data-hover-animate="fadeIn" data-hover-speed="350" style="animation-duration: 350ms;"></div>
							</div>
						</div>
						<div class="portfolio-desc">
							<h3><a href="/comics/{{ item.id }}">{{item.name}}</a></h3>
							<h4>Загрузил - <a href="/users/{{ item.user.id }}"> {{item.user.name}}</a><br>{{item.created_date.strftime('%d.%m.%Y %H:%M')}}</h4>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
</div>
<div class="content-blocker center">
	<div class="wave"></div>
	<div class="wave"></div>
	<div class="wave"></div>
	<div class="wave"></div>
	<div class="wave"></div>
	<div class="wave"></div>
	<div class="wave"></div>
	<div class="wave"></div>
	<div class="wave"></div>
	<div class="wave"></div>
</div>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/functions.js') }}"></script>
<script type="text/javascript">

$(window).on('load', function () {

	function show() {
		$('.container').css('display','block');
		$(".content-blocker").fadeOut(1000);
//		$('.content-blocker').css('display','none');
	}

	setTimeout(show, 1500);
});

</script>
{% endblock %}